{
  "openapi": "3.0.0",
  "info": {
    "title": "Salesforce REST API Documentation",
    "description": "Documentation for Salesforce REST APIs",
    "version": "1.0.0",
    "contact": {
      "name": "Shaun",
      "email": "shaunrareceylone@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://5thaxis--sandbox.sandbox.my.salesforce.com/services/apexrest/api/v0"
    }
  ],
  "paths": {
    "/CreateSingleAccount": {
      "post": {
        "summary": "Create or Update an Account",
        "description": "This API creates or updates accounts in Salesforce.",
        "requestBody": {
          "description": "Account Data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Name": {
                    "type": "string"
                  },
                  "Phone": {
                    "type": "string"
                  },
                  "Account_ID": {
                    "type": "string"
                  },
                  "AccountNumber": {
                    "type": "integer"
                  }
                },
                "example": {
                  "Name": "Test Account 1",
                  "Phone": 789655152,
                  "Account_ID": "A02",
                  "AccountNumber": 1
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "message": "Account created successfully"
                }
              }
            }
          }
        }
      }
    },
    "/CreateSingleContact": {
      "post": {
        "summary": "Create or Update a Contact",
        "description": "This API creates or updates contacts in Salesforce.",
        "requestBody": {
          "description": "Contact Data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "accountName": {
                    "type": "string"
                  },
                  "PerConID": {
                    "type": "string"
                  },
                  "ContactNumber": {
                    "type": "integer"
                  },
                  "GroupDesc": {
                    "type": "string"
                  },
                  "Group_ID": {
                    "type": "string"
                  },
                  "Phone": {
                    "type": "string"
                  },
                  "Fax": {
                    "type": "string"
                  },
                  "Function": {
                    "type": "string"
                  }
                },
                "example": {
                  "firstName": "Daniel",
                  "lastName": "Koshka",
                  "email": "hwe@gmail.com",
                  "accountName": "Shaun",
                  "PerConID": 987,
                  "ContactNumber": 1,
                  "GroupDesc": "Group 1",
                  "Group_ID": 1234,
                  "Phone": 8976512,
                  "Fax": 99882839,
                  "Function": "Func 1"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "message": "Contact created successfully"
                }
              }
            }
          }
        }
      }
    },
    "/createOrder": {
      "post": {
        "summary": "Create an Order and Order Products",
        "description": "This API creates orders and order products in Salesforce.",
        "requestBody": {
          "description": "Order Data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderName": {
                    "type": "string"
                  },
                  "accountName": {
                    "type": "string"
                  },
                  "SoldToContactName": {
                    "type": "string"
                  },
                  "PONumber": {
                    "type": "string"
                  },
                  "Ship_To_PO": {
                    "type": "string"
                  },
                  "Ship_Via": {
                    "type": "string"
                  },
                  "Shipping_Freight": {
                    "type": "number"
                  },
                  "ShipToAccountID": {
                    "type": "string"
                  },
                  "ShipToAccountNumber": {
                    "type": "string"
                  },
                  "ShipToContactID": {
                    "type": "string"
                  },
                  "ShipToContactName": {
                    "type": "string"
                  },
                  "Tax": {
                    "type": "number"
                  },
                  "Tax_Region": {
                    "type": "string"
                  },
                  "Terms": {
                    "type": "string"
                  },
                  "Total_Amount": {
                    "type": "number"
                  },
                  "parts": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "quantities": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "unitPrices": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  },
                  "discounts": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  },
                  "docDiscounts": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  },
                  "docUnitPrices": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  },
                  "groupDescriptions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "orderName": "Order API",
                  "accountName": "Shaun",
                  "SoldToContactName": "Bruno",
                  "PONumber": 12345,
                  "Ship_To_PO": 54321,
                  "Ship_Via": "FedEx",
                  "Shipping_Freight": 50,
                  "ShipToAccountID": "0012E00001aBCD1234",
                  "ShipToAccountNumber": 1234,
                  "ShipToContactID": "0032E00001aEFG5678",
                  "ShipToContactName": "Jane Doe",
                  "Tax": 10.5,
                  "Tax_Region": "US",
                  "Terms": "Net 30",
                  "Total_Amount": 500,
                  "parts": [
                    "A52-PV3X-4A",
                    "AG-12"
                  ],
                  "quantities": [
                    2,
                    10
                  ],
                  "unitPrices": [
                    15.99,
                    75.9
                  ],
                  "discounts": [
                    5,
                    7
                  ],
                  "docDiscounts": [
                    2.5,
                    3.5
                  ],
                  "docUnitPrices": [
                    13.49,
                    72.9
                  ],
                  "groupDescriptions": [
                    "Group1",
                    "Group2"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "message": "Order created successfully"
                }
              }
            }
          }
        }
      }
    }
  }
}